### Código usado para criar colunas de identificação + unir datasets

In [1]:
import pandas as pd

df_prime = pd.read_csv('AmazonPrime\\titles_AmazonPrime.csv')
df_netflix = pd.read_csv('Netflix\\titles_Netflix.csv')

In [2]:
df_prime.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [3]:
# Excluir colunas com valores nulos
excluir_colunas = ['age_certification', 'imdb_id']
df_prime = df_prime.drop(excluir_colunas, axis=1)
df_prime.columns

Index(['id', 'title', 'type', 'description', 'release_year', 'runtime',
       'genres', 'production_countries', 'seasons', 'imdb_score', 'imdb_votes',
       'tmdb_popularity', 'tmdb_score'],
      dtype='object')

In [4]:
df_netflix.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [5]:
# Criando função para criar coluna 'streaming' e preencher com 'Amazon Prime'
# Possui 9868 linhas
def inserir_coluna_prime(coluna):
    nova_coluna = 'Amazon Prime'
    coluna['streaming'] = nova_coluna

    return coluna

In [6]:
df_prime = df_prime.apply(lambda x : inserir_coluna_prime(x), axis = 1)
df_prime.head()

,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,8.6,1092.0,15.424,7.6,Amazon Prime
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,8.2,89766.0,8.647,8.0,Amazon Prime
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,171,"['romance', 'war', 'drama']",['US'],NaN,8.1,63026.0,8.435,7.8,Amazon Prime
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,"['comedy', 'drama', 'romance']",['US'],NaN,7.8,57835.0,11.270,7.4,Amazon Prime
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,94,"['thriller', 'drama', 'romance']",['US'],NaN,7.9,30924.0,8.273,7.6,Amazon Prime

In [7]:
# Excluir colunas com valores nulos
excluir_colunas = ['age_certification', 'imdb_id']
df_netflix = df_netflix.drop(excluir_colunas, axis=1)
df_netflix.columns

Index(['id', 'title', 'type', 'description', 'release_year', 'runtime',
       'genres', 'production_countries', 'seasons', 'imdb_score', 'imdb_votes',
       'tmdb_popularity', 'tmdb_score'],
      dtype='object')

In [8]:
# Criando função para criar coluna 'streaming' e preencher com 'Netflix'
# Possui 5850 linhas
def inserir_coluna_netflix(coluna):
    nova_coluna = 'Netflix'
    coluna['streaming'] = nova_coluna

    return coluna

In [9]:
df_netflix = df_netflix.apply(lambda x : inserir_coluna_netflix(x), axis = 1)
df_netflix.head()

,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,51,['documentation'],['US'],1.0,NaN,NaN,0.600,NaN,Netflix
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,114,"['drama', 'crime']",['US'],NaN,8.2,808582.0,40.965,8.179,Netflix
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,7.7,107673.0,10.010,7.300,Netflix
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,8.2,534486.0,15.461,7.811,Netflix
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,150,"['war', 'action']","['GB', 'US']",NaN,7.7,72662.0,20.398,7.600,Netflix

In [10]:
df_dataset_junto = pd.concat([df_prime, df_netflix], ignore_index=True)
df_dataset_junto

,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,8.6,1092.0,15.424,7.6,Amazon Prime
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,8.2,89766.0,8.647,8.0,Amazon Prime
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,171,"['romance', 'war', 'drama']",['US'],NaN,8.1,63026.0,8.435,7.8,Amazon Prime
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,"['comedy', 'drama', 'romance']",['US'],NaN,7.8,57835.0,11.270,7.4,Amazon Prime
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,94,"['thriller', 'drama', 'romance']",['US'],NaN,7.9,30924.0,8.273,7.6,Amazon Prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15716,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,100,"['romance', 'drama']",['NG'],NaN,6.8,45.0,1.466,NaN,Netflix
15717,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,134,['drama'],[],NaN,7.7,348.0,NaN,NaN,Netflix
15718,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,90,['comedy'],['CO'],NaN,3.8,68.0,26.005,6.3,Netflix
15719,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,37,[],['US'],NaN,NaN,NaN,1.296,10.0,Netflix
15720,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,7,"['family', 'animation', 'comedy']",[],1.0,7.8,18.0,2.289,10.0,Netflix

In [11]:
df_dataset_junto.to_csv('amazon_netflix.csv')

In [12]:
df_novo_dataset = pd.read_csv('amazon_netflix.csv')
df_novo_dataset

,Unnamed: 0,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming
0,0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,8.6,1092.0,15.424,7.6,Amazon Prime
1,1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,8.2,89766.0,8.647,8.0,Amazon Prime
2,2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,171,"['romance', 'war', 'drama']",['US'],NaN,8.1,63026.0,8.435,7.8,Amazon Prime
3,3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,"['comedy', 'drama', 'romance']",['US'],NaN,7.8,57835.0,11.270,7.4,Amazon Prime
4,4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,94,"['thriller', 'drama', 'romance']",['US'],NaN,7.9,30924.0,8.273,7.6,Amazon Prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15716,15716,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,100,"['romance', 'drama']",['NG'],NaN,6.8,45.0,1.466,NaN,Netflix
15717,15717,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,134,['drama'],[],NaN,7.7,348.0,NaN,NaN,Netflix
15718,15718,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,90,['comedy'],['CO'],NaN,3.8,68.0,26.005,6.3,Netflix
15719,15719,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,37,[],['US'],NaN,NaN,NaN,1.296,10.0,Netflix
15720,15720,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,7,"['family', 'animation', 'comedy']",[],1.0,7.8,18.0,2.289,10.0,Netflix

In [13]:
df_novo_dataset.columns

Index(['Unnamed: 0', 'id', 'title', 'type', 'description', 'release_year',
       'runtime', 'genres', 'production_countries', 'seasons', 'imdb_score',
       'imdb_votes', 'tmdb_popularity', 'tmdb_score', 'streaming'],
      dtype='object')

In [14]:
tipos_de_dados = df_novo_dataset.dtypes

print(tipos_de_dados)

Unnamed: 0                int64
id                       object
title                    object
type                     object
description              object
release_year              int64
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
streaming                object
dtype: object

In [15]:
# Limpeza de dados
excluir_colunas = ['Unnamed: 0', 'id', 'description', 'runtime']
df_novo_dataset = df_novo_dataset.drop(excluir_colunas, axis=1)
df_novo_dataset.columns

Index(['title', 'type', 'release_year', 'genres', 'production_countries',
       'seasons', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score',
       'streaming'],
      dtype='object')

In [16]:
df_novo_dataset.fillna(-1, inplace=True)

In [17]:
#dados = pd.read_csv(caminho_arquivo)
import uuid

def gerar_id():
    return str(uuid.uuid4())[:4]

df_novo_dataset['ID'] = [gerar_id() for _ in range(len(df_novo_dataset))]

#print(dados)
df_novo_dataset.head()

,title,type,release_year,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming,ID
0,The Three Stooges,SHOW,1934,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,8.6,1092.0,15.424,7.6,Amazon Prime,5483
1,The General,MOVIE,1926,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],-1.0,8.2,89766.0,8.647,8.0,Amazon Prime,ca48
2,The Best Years of Our Lives,MOVIE,1946,"['romance', 'war', 'drama']",['US'],-1.0,8.1,63026.0,8.435,7.8,Amazon Prime,6312
3,His Girl Friday,MOVIE,1940,"['comedy', 'drama', 'romance']",['US'],-1.0,7.8,57835.0,11.270,7.4,Amazon Prime,c1cc
4,In a Lonely Place,MOVIE,1950,"['thriller', 'drama', 'romance']",['US'],-1.0,7.9,30924.0,8.273,7.6,Amazon Prime,6d32

In [20]:
df_novo_dataset.to_csv('amazon_netflix_limpo.csv')